<script lang="ts">

import {Options, Vue} from "vue-class-component";
import {getAll} from '@/services/api.service';
import {Session} from "@/model/session";

@Options({})
export default class ListeSession extends Vue {

  sessions: Session[] = [];

  mounted() {
    this.refresh()
  }

  /**
   * Méthode permettant de formatter la durée depuis le nombre de secondes écoulées dans la session
   * @param s
   */
  formattageDuree(s: number) : string{
    var hours = Math.floor(s / 3600);
    const minutes = Math.floor((s % 3600) / 60);
    const seconds = s % 60;

    let formatted = '';
    if (hours > 0) {
      formatted += `${hours}h `;
    }
    if (minutes > 0 || hours > 0) { // Include minutes if there are hours
      formatted += `${minutes}m `;
    }
    formatted += `${seconds}s`;

    return formatted

  }

  /**
   * Méthode récupérant la liste des sessions pour les afficher
   */
  refresh(){
    getAll()
        .then(res => {
          console.log(res)
          this.sessions = res.data
        })
        .catch(err => console.log(err))
  }
}
</script>

<template>
  <div class="container">
    <h2>Sessions</h2>
    <div class="container2">
      <div v-for="session in sessions" :key="session.id" class="session">
        <p class="flex-items">Session {{ session.sessionType.toLowerCase() }}</p>
        <p class="flex-items">Date: {{ session.sessionDate }}</p>
        <p class="flex-items">Duration: {{ formattageDuree(session.sessionDuration)}}</p>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">

.container{
  color: white;
  display: flex;
  background-color: $primary-color;
  width: 60vw;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px; /* Coins arrondis */
}
.container2{
  color: white;
  display: flex;
  background-color: $primary-color;
  flex-direction: column
}

.session{
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: $secondary-color;
  border-radius: 15px; /* Coins arrondis */
  margin-bottom: 5px;
  justify-content: space-around;
}
.flex-items{
  width: 200px;
  display: flex;
}
</style>