<template>
  <div class="container">
    <div class="timer">
      <span>{{ time }}</span>
      <span>{{ step }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from "vue-class-component";

@Options({
  props: {
    time: String,
    step: String
  }
})
export default class TimerComponent extends Vue{
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($primary-color, #373535);
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.timer {
  width: 275px;
  height: 275px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  span {
    color: $primary-color;
    font-size: 50px;
  }

  span:last-child {
    font-size: 35px;
  }
}
</style>