<template>
  <div class="home">
    <TimerComponent :time="this.formatTimer" :step="current_step"/>
    <div class="informations">
      <div class="sessions_choose">
        <div class="session" @click="updateSession(true)">
          <span>Session longue (45/15)</span>
        </div>
        <div class="session" @click="updateSession(false)">
          <span>Session courte (20/5)</span>
        </div>
      </div>
      <span>Session en cours ({{ step_number }} / 4)</span>
    </div>
    <div class="controls">
      <div class="option" id="pause" @click="this.updatePause()">
        <span>{{ this.getPauseLabel() }}</span>
      </div>
      <div class="option" id="stop" @click="this.stopSession()">
        <span>Envoyer</span>
      </div>
    </div>
    <liste-session ref="refListeSession"/>
  </div>
</template>

<style lang="scss">
body {
  background: #373333;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  gap: 20px;

  .informations {
    color: white;

    .sessions_choose {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 30px;
      .session {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 50px;
        border-radius:15px;
        background: linear-gradient($primary-color, #373535);
      }
      .session:hover {
        cursor: pointer;
      }
    }
  }
  .controls {
    display: flex;
    justify-content: space-around;
    width: 300px;
    .option {
      display: flex;
      justify-content: center;
      align-items: center;

      background: linear-gradient($primary-color, #373535);
      padding: 5px;
      font-size: 20px;
      border-radius: 15px;
      width: 70px;
      color: #ffffff;
    }
    margin-bottom: 20px;
  }
}

</style>
<script lang="ts">
import TimerComponent from '@/components/TimerComponent.vue'
import {Options, Vue} from "vue-class-component";
import ListeSession from "@/components/ListeSession.vue";
import {addSession} from "@/services/api.service";

@Options({
  components: {
    ListeSession,
    TimerComponent,
  },
})
export default class App extends Vue {
  estEnPause = true;
  steps: Record<string, number> = {
    'Travail': 45,
    'Pause': 15
  };


  current_step = 'Travail';
  minutes = this.steps[this.current_step];
  seconds = 0;
  interval: number | undefined = undefined;
  step_number = 1

  get formatTimer(): string {
    return `${this.minutes}:${this.seconds < 10 ? '0' : ''}${this.seconds}`;
  }

  mounted() {
    this.startTimer();
  }

  beforeDestroy() {
    clearInterval(this.interval);
  }

  /**
   * Méthode gérant le chronomètre
   */
  startTimer() {
    clearInterval(this.interval);
    this.interval = window.setInterval(() => {
      if (!this.estEnPause) {
        if (this.seconds === 0) {
          if (this.minutes > 0) {
            this.minutes--;
            this.seconds = 59;
          } else {
            if(this.current_step == 'Travail'){
              this.current_step = 'Pause'
            }else {
              this.current_step = 'Travail'
              this.step_number++
            }
            this.minutes = this.steps[this.current_step]
            if(this.step_number >= 4) {
              this.estEnPause = true
              clearInterval(this.interval)
            }
          }
        } else {
          this.seconds--;
        }
      }
    }, 1);
  }

  /**
   * Méthode retournant le label du bouton pause
   */
  getPauseLabel(): string {
    return this.estEnPause ? 'Lancer' : 'Pause';
  }

  /**
   * Méthode permettant de mettre en pause le chronomètre
   */
  updatePause() {
    this.estEnPause = !this.estEnPause;
    if (!this.estEnPause) {
      this.step_number = 1
      this.startTimer();
    } else {
      clearInterval(this.interval);
    }

  }

  /**
   * Méthode permettant de changer le mode de session entre COURTE et LONGUE
   * @param longue
   */
  updateSession(longue: boolean){
    if(!this.estEnPause)this.updatePause()


    if(longue) {
      this.steps.Travail = 45
      this.steps.Pause = 15
    }else{
      this.steps.Travail = 20
      this.steps.Pause = 5
    }
    this.reset();

  }

  /**
   * Méthode permettant d'arrêter la session et de l'envoyer en BDD
   */
  async stopSession() {
    if(!this.estEnPause){
      return;
    }
    if((this.minutes == 45 && this.steps.Travail == 45) || (this.minutes == 20 && this.steps.Travail == 20))return

    this.current_step = 'Travail'

    const elapsedMinutes = this.steps.Travail - this.minutes;
    const elapsedSeconds = 60 - this.seconds;
    var totalElapsed = elapsedMinutes * 60 + elapsedSeconds - 60;

    if (this.current_step == 'Pause') {
      const elapsedMinutes = this.steps.Pause - this.minutes;
      const elapsedSeconds = 60 - this.seconds;
      totalElapsed += elapsedMinutes * 60 + elapsedSeconds - 60;
    }
    totalElapsed += (this.step_number - 1) * (this.steps.Travail + this.steps.Pause) * 60

    var date = new Date();
    var dataToSend = {
      "sessionType": this.steps.Travail == 45 ? "LONGUE" : "COURTE",
      "sessionDate": date.getFullYear() + "-" + String(date.getMonth() + 1).padStart(2, '0') + "-" + String(date.getDate()).padStart(2, '0'),
      "sessionDuration": totalElapsed
    };

    await addSession(dataToSend).then((value)=>{
      console.log(value);
      (this.$refs.refListeSession as any).refresh();
      this.reset();

    })
  }
  reset(){
    this.seconds = 0
    this.minutes = this.steps[this.current_step];
  }
}
</script>
